Source: x-tile
Section: accessories
Priority: optional
Maintainer: Giuseppe Penone <giuspen@gmail.com>
Package: x-tile-ng
Version: 1.8.4-1
Architecture: all
Depends: python-gtk2
Conflicts: x-tile
Description: X Tile NG
 Allows you to select a number of windows and tile them in different ways
