Source: x-tile
Section: utils
Priority: optional
Maintainer: Giuseppe Penone <giuspen@gmail.com>
Build-Depends: debhelper (>= 7), python-central (>=0.5.6), python3 (>=3.0), python-gi, python-gi-cairo, gir1.2-gtk-3.0
Standards-Version: 3.9.5
Homepage: http://www.giuspen.com/x-tile/
Vcs-Git: https://github.com/giuspen/x-tile.git
Vcs-Browser: https://github.com/giuspen/x-tile

Package: x-tile
Architecture: all
XS-Python-Version: >=3.0
XB-Python-Version: >=3.0
Depends: python-gi, python-gi-cairo, gir1.2-gtk-3.0
Conflicts: x-tile-ng
Description: X Tile
 Allows you to select a number of windows and tile them in different ways
