[Desktop Entry]
Name=X Tile
Comment=Windows Tiling Upon your X Desktop
Exec=x-tile2
Icon=/usr/share/pixmaps/x-tile.svg
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;
