[Desktop Entry]
Name=X Tile
Comment=Windows Tiling upon your Desktop
Comment[de]=Tile die Fenster auf dem Desktop
Comment[es_AR]=Ventanas como Mosaico en el Escritorio
Comment[fr]=Répartit vos fenêtres sur l'espace de travail selon un pavage
Comment[it]=Piastrellamento delle Finestre sul tuo Desktop
Comment[ru]=Мозаичное размещение окон на рабочем столе
Comment[zh_CN]=在你的桌面排列窗口
Comment[zh_TW]=在你的桌面排列視窗
Exec=x-tile w
Icon=/usr/share/pixmaps/x-tile.svg
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
