[Desktop Entry]
Name=X Tile NG
Comment=Windows Tiling upon your Desktop
Comment[de]=Tile die Fenster auf dem Desktop
Comment[fr]=Répartit vos fenêtres sur l'espace de travail selon un pavage
Comment[it]=Piastrellamento delle Finestre sul tuo Desktop
Comment[ru]=Мозаичное размещение окон на рабочем столе
Comment[zh_TW]=在你的桌面排列視窗
Exec=x-tile-ng
Icon=/usr/share/pixmaps/x-tile.svg
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;
